.column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 19 1fr;
    gap: 2em;
    height: 70rem;

    div {
        overflow: hidden;
        background-size: cover;

    }

}

.column1 {
    div:nth-child(1) {
        grid-row: 1 / span 4;
    }
    div:nth-child(2) {
        grid-row: 5 / span 5;
    }
    div:nth-child(3) {
        grid-row: 10 / span 6;
    }
    div:nth-child(4) {
        grid-row: 16 / span 4;
    }
}
.column2 {
    div:nth-child(1) {
        grid-row: 1 / span 4;
    }
    div:nth-child(2) {
        grid-row: 5 / span 5;
    }
    div:nth-child(3) {
        grid-row: 10 / span 6;
    }
    div:nth-child(4) {
        grid-row: 16 / span 4;
    }
}
.column3 {
    div:nth-child(1) {
        grid-row: 1 / span 4;
    }
    div:nth-child(2) {
        grid-row: 5 / span 5;
    }
    div:nth-child(3) {
        grid-row: 10 / span 9;
    }
}
.column4 {
    div:nth-child(1) {
        grid-row: 1 / span 4;
    }
    div:nth-child(2) {
        grid-row: 5 / span 5;
    }
    div:nth-child(3) {
        grid-row: 10 / span 6;
    }
    div:nth-child(4) {
        grid-row: 16 / span 4;
    }
}