.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 19 1fr;
    gap: 1em;
    gap: 2em;
    width: 22%;
    height: 70rem;
    margin-bottom: 3rem;
    

    div:nth-child(1) {
        background-color: yellow;
        width: 100%;
        grid-row: 1 / span 4;
    }
    div:nth-child(2) {
        background-color: red;
        width: 100%;
        grid-row: 5 / span 5;
    }
    div:nth-child(3) {
        background-color: blue;
        width: 100%;
        grid-row: 10 / span 6;
    }
    div:nth-child(4) {
        background-color: rosybrown;
        width: 100%;
        grid-row: 16 / span 4;
    }
}
